div > input {
    width: 300px;
    height: 60px;
    border: 1.5px solid var(--border-color);
    border-radius: 6px;
    outline: none !important;
    color: var(--text-color);
    font-size: 16px;
    padding-left: 50px;
    background: var(--input-bg-color) url('../../assets/search.svg') no-repeat 16px center;
}

div > input::placeholder {
    font-size: 16px;
    color: var(--text-color);
}

div > input:focus {
    border: 1.5px solid var(--border-focus-color);
    outline: none !important;
}

.dropdown-list {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--list-bg-color);
    box-shadow: 0px 9px 30px -17px rgb(152, 164, 197, 0.8);
}
