.item {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.item:hover {
    background-color: var(--input-bg-color);
    border-radius: 6px;
    cursor: pointer;
}

.active {
    background-color: var(--input-bg-color);
    border-radius: 6px;
}

.name {
    margin: 0;
    font-size: 16px;
}

.email {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}

.error {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    color: #98A4C5;
}